{% load static %}

<div class="container-fluid mt-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6 text-warning justify-content-center">

            <hr class="col-lg-6 col-xl-8 offset-lg-3 offset-xl-2"
                style="height:5px; color:rgb(236, 64, 164); background-color:rgb(236, 64, 164)">

            <h1 class="text-center escrita display-1">Pizzas</h1>
            <h1 class="text-center text-light">Pré-assadas & congeladas da Pati</h1>

            <hr class="col-lg-6 col-xl-8 offset-lg-3 offset-xl-2 mt-4"
                style="height:5px; color:rgb(236, 64, 164); background-color:rgb(236, 64, 164)">

        </div>
        <div class="col-md-6 col-sm-10">
            <img src="{% static 'img/pizza.jpg' %}" class="img-fluid rounded ">
        </div>
    </div>
</div>