{% load static %}

<div class="container-fluid justify-content-center">
    <div class="row">
        <div class="col">
            <div class="container barras rounded my-4">
                <div class="spam text-white text-center display-4 fw-bold">
                    CARDÁPIO
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">


            <div class="card-group row justify-content-center">
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-10 mb-3 mx-auto">
                    <div class="card barras h-100 sombra d-flex" style="width: 16rem;">
                        <img src="{% static '/img/pizza-error-404.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <div class="row text-center">
                                <div class="col">
                                    <select class="form-select btn-light text-dark mb-3"
                                        aria-label="Default select example">
                                        <option selected>Tamanho</option>
                                        <option value="1">Mini Pizza R$19,90</option>
                                        <option value="2">Pizza 20cm R$14,50</option>
                                        <option value="3">Pizza 25cm R$25,00</option>
                                        <option value="3">Pizza 35cm R$35,00</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col">
                                    <a href="#" class="btn btn-light text-dark"><i class="bi bi-cart-check"></i>
                                        Adicionar</a>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>


                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-10 mb-3 mx-auto">
                    <div class="card barras h-100 sombra d-flex" style="width: 16rem;">
                        <img src="{% static '/img/pizza-error-404.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <div class="row text-center">
                                <div class="col">
                                    <select class="form-select btn-light text-dark mb-3"
                                        aria-label="Default select example">
                                        <option selected>Tamanho</option>
                                        <option value="1">Mini Pizza R$19,90</option>
                                        <option value="2">Pizza 20cm R$14,50</option>
                                        <option value="3">Pizza 25cm R$25,00</option>
                                        <option value="3">Pizza 35cm R$35,00</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col">
                                    <a href="#" class="btn btn-light text-dark"><i class="bi bi-cart-check"></i>
                                        Adicionar</a>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-10 mb-3 mx-auto">
                    <div class="card barras h-100 sombra d-flex" style="width: 16rem;">
                        <img src="{% static '/img/pizza-error-404.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <div class="row text-center">
                                <div class="col">
                                    <select class="form-select btn-light text-dark mb-3"
                                        aria-label="Default select example">
                                        <option selected>Tamanho</option>
                                        <option value="1">Mini Pizza R$19,90</option>
                                        <option value="2">Pizza 20cm R$14,50</option>
                                        <option value="3">Pizza 25cm R$25,00</option>
                                        <option value="3">Pizza 35cm R$35,00</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col">
                                    <a href="#" class="btn btn-light text-dark"><i class="bi bi-cart-check"></i>
                                        Adicionar</a>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>


                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-10 mb-3 mx-auto">
                    <div class="card barras h-100 sombra d-flex" style="width: 16rem;">
                        <img src="{% static '/img/pizza-error-404.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <div class="row text-center">
                                <div class="col">
                                    <select class="form-select btn-light text-dark mb-3"
                                        aria-label="Default select example">
                                        <option selected>Tamanho</option>
                                        <option value="1">Mini Pizza R$19,90</option>
                                        <option value="2">Pizza 20cm R$14,50</option>
                                        <option value="3">Pizza 25cm R$25,00</option>
                                        <option value="3">Pizza 35cm R$35,00</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col">
                                    <a href="#" class="btn btn-light text-dark"><i class="bi bi-cart-check"></i>
                                        Adicionar</a>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-10 mb-3 mx-auto">
                    <div class="card barras h-100 sombra d-flex" style="width: 16rem;">
                        <img src="{% static '/img/pizza-error-404.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <div class="row text-center">
                                <div class="col">
                                    <select class="form-select btn-light text-dark mb-3"
                                        aria-label="Default select example">
                                        <option selected>Tamanho</option>
                                        <option value="1">Mini Pizza R$19,90</option>
                                        <option value="2">Pizza 20cm R$14,50</option>
                                        <option value="3">Pizza 25cm R$25,00</option>
                                        <option value="3">Pizza 35cm R$35,00</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col">
                                    <a href="#" class="btn btn-light text-dark"><i class="bi bi-cart-check"></i>
                                        Adicionar</a>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-10 mb-3 mx-auto">
                    <div class="card barras h-100 sombra d-flex" style="width: 16rem;">
                        <img src="{% static '/img/pizza-error-404.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <div class="row text-center">
                                <div class="col">
                                    <select class="form-select btn-light text-dark mb-3"
                                        aria-label="Default select example">
                                        <option selected>Tamanho</option>
                                        <option value="1">Mini Pizza R$19,90</option>
                                        <option value="2">Pizza 20cm R$14,50</option>
                                        <option value="3">Pizza 25cm R$25,00</option>
                                        <option value="3">Pizza 35cm R$35,00</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <a href="#" class="btn btn-light text-dark"><i class="bi bi-cart-check"></i>
                                        Adicionar</a>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-10 mb-3 mx-auto">
                    <div class="card barras h-100 sombra d-flex" style="width: 16rem;">
                        <img src="{% static '/img/pizza-error-404.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <div class="row text-center">
                                <div class="col">
                                    <select class="form-select btn-light text-dark mb-3"
                                        aria-label="Default select example">
                                        <option selected>Tamanho</option>
                                        <option value="1">Mini Pizza R$19,90</option>
                                        <option value="2">Pizza 20cm R$14,50</option>
                                        <option value="3">Pizza 25cm R$25,00</option>
                                        <option value="3">Pizza 35cm R$35,00</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <a href="#" class="btn btn-light text-dark"><i class="bi bi-cart-check"></i>
                                        Adicionar</a>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>



            </div>











        </div>
    </div>
</div>