<nav class="navbar navbar-expand-lg barras m-0">
    <div class="container">
      <a class="navbar-brand texto-marron fs-3" href="#">Pizzas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link texto-marron" aria-current="page" href="#"><i class="bi bi-whatsapp"></i> Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link texto-marron" href="#"><i class="bi bi-globe-americas"></i> Vila Velha - ES</a>
          </li>
        </ul>
        <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-large botoes" aria-current="page" href="#">
                        <span class="text text-light">Login</span>
                    </a>
                </li>
                <li class="nav-item mx-lg-2">
                    <a class="btn btn-large botoes" aria-current="page" href="#">
                        <span class="text text-light">Cadastre-se</span>
                    </a>
                </li>
            </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn botoes text-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>